<div id="<%= dom_id part %>">
  <p>
    <strong>Name:</strong>
    <%= part.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= part.description %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= part.supplier_id %>
  </p>

</div>
