<div id="<%= dom_id author %>">
  <hr>
    <p>
      <strong>Name:</strong>
      <%= author.name %>
    </p>

      <p>
        <strong>Cpf:</strong>
        <%= author.formatted_cpf %>
      </p>

</div>
