<div id="<%= dom_id book %>">
  <hr>
    <p>
      <strong>Name:</strong>
      <%= book.title %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= book.author.name %>
    </p>

    <p>
      <strong>Assembly:</strong>
      <%= book.assembly.name %>
    </p>
  </hr>
</div>
