<div class="max-w-2xl max-w-xl px-4 my-8">
  <h3 class="text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">New books</h3>
  <br>

  <%= render "form", book: @book %>
  <div class="max-w-3xl max-w-xl px-5 my-3">
    <%= link_to "Back", books_path, class: "btn btn-dark", style: "color: white; width: 90px" %>
  </div>
</div>

