<form action="/assemblies" method="get" style="margin-left: 20px">
  <br>
  <label for="filter_by" class="aria-label text-1xl tracking-tighter font-extrabold text-current dark:text-white">Filtrar por:</label>

  <select id="filter_by" name="filter_by" class="form-select" style="width: 250px">
    <option value="" selected>Open this select menu</option>
    <option value="parts_name">Nome da peça</option>
  </select>

  <br>
  <label for="query" class="aria-label text-1xl tracking-tighter font-extrabold text-current dark:text-white">Consulta:</label>
  <br>
  <input type="text" id="query" name="query" value="<%= params[:query] %>" class="form-input aria-label text-current dark:text-white" style="width: 250px">
  <br><br>
  <input type="submit" value="Filtrar" class="btn btn-primary">
  <br>

</form>