<div id="<%= dom_id account %>">
  <p>
    <strong>Bank:</strong>
    <%= account.bank %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= account.number %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= account.supplier_id %>
  </p>

</div>
