<div id="<%= dom_id account %>">

  <p>
    <strong>Name:</strong>
    <%= account.supplier.name %>
  </p>

  <p>
    <strong>Bank:</strong>
    <%= account.bank %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= account.number %>
  </p>

</div>
