<h1>Editing account</h1>

<%= render "form", account: @account %>

<br>

<div>
  <%= link_to "Show this account", supplier_account_path %> |
  <%= link_to "Back to accounts", supplier_account_path %>
</div>
